*.png
*.o
*.m
*.ps
*.mod

Version5_beta_ev3198/Donjon/data/history_mphy_proc/
Version5_beta_ev3198/Donjon/data/ssrcell_thm_proc/
Version5_beta_ev3198/Donjon/data/1Sap_vs_3Sap_proc/
Version5_beta_ev3198/Trivac/lib
Version5_beta_ev3198/Trivac/bin
Version5_beta_ev3198/Ganlib/bin
Version5_beta_ev3198/Ganlib/lib


Version5_ev3205/Donjon/data/history_mphy_proc/
Version5_ev3205/Donjon/data/ssrcell_thm_proc/
Version5_ev3205/Donjon/data/1Sap_vs_3Sap_proc/
Version5_ev3205/Ganlib/bin
Version5_ev3205/Ganlib/lib
Version5_ev3205/Trivac/bin
Version5_ev3205/Trivac/lib


Version5_ev3210/Donjon/data/history_mphy_proc/
Version5_ev3210/Donjon/data/ssrcell_thm_proc/
Version5_ev3210/Donjon/data/1Sap_vs_3Sap_proc/
Version5_ev3210/Ganlib/bin
Version5_ev3210/Ganlib/lib
Version5_ev3210/Trivac/bin
Version5_ev3210/Trivac/lib

