*.png
*.o
*.a
*.mod
*.m
*.ps
*.dat
*.txt
*.result
*.eps
*.png
*.out
*.pyc

*CPO*
*COMPO*


*/__pycache__/
PTT/DMLG_proj/__pycache__/

Serpent2_para_bateman/src
Serpent2_para_bateman/Linux_aarch64
Serpent2_para_bateman/xs

Version5_wc/.svn/

Version5*/Donjon/data/history_mphy_proc/
Version5*/Donjon/data/1Sap_vs_3Sap_proc/
Version5*/Donjon/tests/data/
Version5*/Donjon/tests/data/
Version5*/Dragon/Linux_x86_64/
Version5*/PyGan/Linux_x86_64/
Version5*/Dragon/Linux_aarch64/
Version5*/PyGan/Linux_aarch64/
Version5*/PyGan/lib/
Version5*/Dragon/lib/
Version5*/Donjon/lib/
Version5*/Dragon/bin/
Version5*/Donjon/bin/
Version5*/Trivac/lib/
Version5*/Trivac/bin/
Version5*/Utilib/lib/
Version5*/Ganlib/bin/
Version5*/Ganlib/lib/
Version5_*/Utilib/src/libUtilib.a
Version5_*/Utilib/lib/Linux_x86_64/libUtilib.a
Version5_*/Trivac/src/libTrivac.a
Version5_*/Trivac/src/Trivac
Version5_*/Ganlib/src/libGanlib.a
Version5_*/Ganlib/src/Ganlib
Version5_*/Dragon/src/libDragon.a
Version5_*/Dragon/bin/Linux_x86_64/Dragon
Version5_*/Dragon/lib/Linux_x86_64/libDragon.a
Version5_*/Dragon/src/Dragon
Version5_*/Donjon/bin/Linux_x86_64/Donjon
Version5_*/Donjon/lib/Linux_x86_64/libDonjon.a
Version5_*/Donjon/src/Donjon
Version5_wc/PyGan/data/Resultats_serpent4PyGan/
Version5_wc/PyGan/data/multiPhysics_proc/_AT10COMPO_1
Version5_wc/Donjon/data/BWR_DONJON_proc/_AT10Compo
Version5_wc/PyGan/data/BWR_DONJON_proc/_AT10COMPO_1
Version5_wc/PyGan/data/Gd157_rates_XS_proc/_COMPO*
Version5_wc/PyGan/data/Gd157_rates_XS_proc/*COMPO*
Version5_wc/PyGan/data/Gd157_rates_XS_proc/old_lib_cpos/
Version5_wc/PyGan/data/*_proc/*COMPO*

libraries/l_endian/*
